@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=MuseoModerno:wght@600&family=Poppins:wght@500;600&display=swap');

.fill-height {
    height: 700px;
    width: 50%;
}

.BG {
  background-color: #98CC80;
  height: 950px;
  width: 100%;
}
.CircleBG {
  background-color: #D7FFC5;
  height: 1091px;
  width: 1091px;
  border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -450px;
}
.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: 'MuseoModerno', cursive;
  padding-top: 10px;
  padding-left: 80px;
}
.Slogan {
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding-top: 150px;
  padding-left: 80px;
}
.Subtitle {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 80px;
}
.GSButton {
    background-color: #D7FFC5;
    color: #86C26A;
    border-radius: 40px;
    height: 40px;
    width: 175px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
}

.Image {
    padding-left: 100px ;
    padding-top: 80px;
}
.button{
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    height: 40px;
    width: 175px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
}
.button:hover{
    background-color: #f6f1f1;
    color: black;
}
.footer{
    height: 130px;
    background-color: rgb(25, 25, 25);
    padding-left: 45px;
    padding-top: 33px;
}
.line1{

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.line2{
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.line3{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}